<a href="https://colab.research.google.com/github/ajilraju/python3-session-notes/blob/main/python3_devops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 01

# Python Programming (Python3) üêç

## Get Started

* ### Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.
* ### Created by Guido van Rossum, and released in 1991.
* ### [Why Python2 and Python3](https://www.geeksforgeeks.org/important-differences-between-python-2-x-and-python-3-x-with-examples/).
* ### [More about Python](https://en.wikipedia.org/wiki/Python_(programming_language).

## First Python Program

`hello_world.py`

Run the script by Python3 interpreter
```bash
python3 hello_world.py
```

In [ ]:
print("Hello World!")
print('hello world')
print("I'm Love Python")

Hello World!
hello world
I'm Love Python

## Variables

* A Python Variables is a name given to a memory location. It is the basic unit of storage in a program.
* [More about variables](https://en.wikipedia.org/wiki/Variable_(computer_science)

### *Syntax*
**varible_name = value**

Eg: **my_name = "Tom"**

In [ ]:
first_varible = "First value"

In [ ]:
my_name = "Tom"
my_age = 25
my_weight = 75.5

print(first_varible)
print(my_name)
print(my_age)
print(my_weight)

First value
Tom
25
75.5

### Varible type data-type
* string  `"hello world or 'hello world'`
* intger  `100`
* float   `200.23`
* boolean `True or False`
* complex `1j`
* [more](https://www.w3schools.com/python/python_datatypes.asp)

## Working with string

* A string is a series of characters. 
* Anything inside quotes is considered a string in Python.
* Use single or double quotes around your strings
* [String methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [ ]:
# Using sring
country_name = 'india'
print(country_name)

print(country_name.title())
# title() is called method, 
# A method is an action that Python can perform on a piece of data.

print(country_name.lower())
print(country_name.upper())
print(len(country_name))  # Special string function to find the string char length.
print(type(country_name)) # Special function to out the data-type.

india
India
india
INDIA
5
<class 'str'>

### Using varible inside string

* [f-¬≠strings](https://peps.python.org/pep-0498)
* Eg: `f"Hello! {varible_name}"`

In [ ]:
possession = "I"

print(f"Hello Folks, {possession} love {country_name.title()}")

Hello Folks, I love India

# Day 02

## Numbers

### Integer

```
2 + 2
3 * 6
```

### Float

Python calls any number with a decimal point a float.
```
3.43 + 3.14
3 * 235
```

### Underscore in Numbers
`universe_age = 14_000_000_000`

### Multiple Assignment
`x, y, z = 10, 100, 34.33`

### Constants
A constant is like a variable whose value stays the same throughout the life of a program. Python doesn‚Äôt have built-¬≠in constant types.

`MAX_CONNECTIONS = 5000`

### Conversion
* `int(x)` convert other datatype into int. x be the other datatype value.

In [ ]:
sum = 2 + 2
product = 2 * 6

PI = 3.14159 # Constant

sum_float = 2 + 2.22
product_float = 3 * PI

x, y, z = 1, 3, 2

universe_age = 14_000_000_000

print(sum)
print(product)

print(sum_float)
print(product_float)

print(f"x = {x}, y = {y}, z = {z}")

print(universe_age * 2)

4
12
4.220000000000001
9.424769999999999
x = 1, y = 3, z = 2
28000000000

## Python Operators

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators
* [More about operators](https://www.w3schools.com/python/python_operators.asp)


    | Operator | Operand |
    |----------|---------|
    |+ = - **  | x, sum  |

In [ ]:
# Arithmetic Operators
print(2 + 2)
print(2 * 2)
print(2 - 2)
print(3 / 2)
print(3 % 2)
print(2 ** 3)
print(3 // 2)

# Assignment Operators
x = 10
x = x + 10

y = 10
y += 10

x *= 10

print(y)
print(x)

# Comparison Operators
print(2 == 2)
print(2 > 3)
print(2 < 2)
print(2 <= 2)
print(2 != 2)

# Logical Operators
print(True and True)
print(True and False)
print(True or True)
print(True or False)
print(not True)
print(not False)

4
4
0
1.5
1
8
1
20
200
True
False
False
True
False
True
False
True
True
False
True

## User input
Developers often have a need to interact with users, either to get data or to provide some sort of result.

`input(prompt)`

`value = input("Enter your age")`

In [ ]:
name = input("Enter your name: ")
age = input("Enter you age: ")

print(f"Hello!!! {name} welcome to the world of python")
print(age)

Enter your name: tim
Enter you age: 52
Hello!!! tim welcome to the world of python
52

In [ ]:
number = input("Enter the number")
print(2 + int(number))

Enter the number100
102

In [ ]:
# Simple Calculator
f_num = input("Enter the first number: ")
s_num = int(input("Enter the second number: "))

f_num = int(f_num)

print("=" * 10)
print(f"Sum of {f_num} and {s_num} = {f_num + s_num}")
print(f"Product of {f_num} and {s_num} = {f_num * s_num}")
print(f"Quotient of {f_num} and {s_num} = {f_num / s_num}")

Enter the first number: 3
Enter the second number: 2
==========
Sum of 3 and 2 = 5
Product of 3 and 2 = 6
Quotient of 3 and 2 = 1.5

## Lists
* A list is a collection of items in a particular order.
* In Python, square brackets `( [] )` indicate a list, and individual elements in the list are separated by commas.
*   ```
    bicycles = ['trek', 'cannondale', 'redline', 'specialized']
    print(bicycles)
    ```

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

### Accessing elements in List

* Lists are ordered collections.
* Access any element in a list by telling Python the position, or index, of the item desired.
* Index Positions Start at 0, Not 1
* Last element is `(N-1)`
* Python has a special syntax for accessing the last element in a list. with *negative index*.

In [ ]:
print(bicycles[0])
print(bicycles[0].title())
print(bicycles[-1])
print(bicycles[-2])

trek
Trek
specialized
redline

### Modifiying element in a List

In [ ]:
bicycles[1] = 'BMX'
print(bicycles)

### Adding Elements to a List
* Appending Elements to the End of a List, `append(ele)`.
* Inserting Elements into a List, `insert(pos, elem)`.

### More about List
[Python3 list](https://docs.python.org/3/tutorial/datastructures.html)

# Day 03

## Decision Making (if-else statement)
* Decision making is anticipation of conditions occurring while execution of the program and specifying actions taken according to the conditions.
* Decision structures evaluate multiple expressions which produce TRUE or FALSE as outcome.
![image](https://www.tutorialspoint.com/python/images/decision_making.jpg)
* Python programming language assumes any non-zero and non-null values as TRUE, and if it is either zero or null, then it is assumed as FALSE value.
* **if statement**
* **if..else statement**
* **nested if statement**

* [Watch out Indentation](https://peps.python.org/pep-0008/#indentation)

In [ ]:
total_days_year = 365

if total_days_year == 365:
    print("You're in Earth.")

You're in Earth.

In [ ]:
if total_days_year == 3666:
    print("You're in Exo")
else:
    print("You're in Earth")

You're in Earth

In [ ]:
total_days_year = int(input("Enter days: "))
if total_days_year == 365:
    print("You're in Earth")
elif total_days_year == 243:
    print("You're in Venus")
else:
    print("You're in Exoplant")

### Example: Decision Making (Covid Vaccine)

In [ ]:
age = int(input("Enter you age: "))

if age >= 18:
    taken_first_dose = input("Have you taken the first dose covid vaccine (y/n): ")
    if taken_first_dose == 'y' or taken_first_dose == 'Y':
        print("You're eligible to second dose vaccine")
    else:
        print("Visit your nearest vaccine centre first dose vaccine")
else:
    print("You are minor, Keep: üò∑ üßº")

Enter you age2
You are minor, Keep: üò∑ üßº

## Loops
Loop is a sequence of instruction s that is continually repeated until a certain condition is reached.
* **While loops (Conditional loops)**
* **For loops (Counting loops)**
* **[More](https://docs.python.org/3/tutorial/controlflow.html)**
* `break, continue and else` are the loop controllers

### While Loops
`while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
number = 1
count = 1
while number <= 10:
    print(f"Iteration {count}, number variable value is {number}")
    count += 1
    number += 1

### For Loops
A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
cars = ["Nissan", "Tata", "Hyundai", "MG", "BMW"]

for car in cars:
    print(car)

print("*" * 20)
for car in cars:
    print(f"{car} is so nice")

print("=" * 20)
for i in range(0, 10):
    print(i)

### Examples of break and continue in loops

In [ ]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(1, 10):
    if i == 5:
        continue
    print(i)

### Example of while and for loops

In [ ]:
# program: printing even nubmers

number = 1

while number <= 20:
    if number % 2 != 0:
        print(number)
    number += 1

In [ ]:
for num in range(1, 21):
    if num % 2 != 0:
        print(num)

### Example: Pasword policy checker

In [ ]:
# title Default title text
# program: password policy checking.
#

# Password policies are
# * Atlest 1 uppercase
# * Atlest 1 lowercase
# * Atlest 1 digit
# * Atlest 1 special character
# * min length 8 characters
# * max length 12 characters

password = input("Enter your password: ")

upper   = False
lower   = False
digit   = False
special = False

if len(password) >= 8 and len(password) <= 12:
    for char in password:
        if char.isupper():
            upper = True
        elif char.islower():
            lower = True
        elif char.isdigit():
            digit = True
        else:
            special = True
    if upper and lower and digit and special:
        print("Valid password")
    else:
        print("Not all password policy met")
else:
    print("Password is too short or large")

Enter your password: 54
Password is too short or large

# Day 04

### Example: Find Odd and Even number

In [ ]:
for num in range(1, 11):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an odd number 1
Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9
Found an even number 10

### Nest Loops

In [ ]:
for f in range(1, 4):
    for s in range(1, 6):
        print(f"outside loop var={f}, inside loop var={s}")

outside loop var=1, inside loop var=1
outside loop var=1, inside loop var=2
outside loop var=1, inside loop var=3
outside loop var=1, inside loop var=4
outside loop var=1, inside loop var=5
outside loop var=2, inside loop var=1
outside loop var=2, inside loop var=2
outside loop var=2, inside loop var=3
outside loop var=2, inside loop var=4
outside loop var=2, inside loop var=5
outside loop var=3, inside loop var=1
outside loop var=3, inside loop var=2
outside loop var=3, inside loop var=3
outside loop var=3, inside loop var=4
outside loop var=3, inside loop var=5

In [ ]:
for i in range(1, 10):
    for j in range(0, i):
        print("*", end='')
    print("")

*
**
***
****
*****
******
*******
********
*********

## Tuples

* Tuples are used to store multiple items in a single variable.
* Container for storing data items.
* Immutable, aka unchangeable.
* Tuples are written with round brackets.
* [more](https://www.w3schools.com/python/python_tuples.asp)

In [ ]:
# Tuple exampless

coordinates = (1, 0)
print(coordinates)

# accessing individual tuple elements
print(coordinates[0])

# assigning elements to tuples
coordinates[0] = 22

(1, 0)
1

TypeError: ignored

## Unpacking
* Unpacking in Python refers to an operation that consists of assigning an iterable of values to a tuple (or list ) of variables in a single assignment statement.

In [ ]:
coordinates = (1, 2, 20)
x = coordinates[0]
y = coordinates[1]
z = coordinates[2]
print(x, y, z)

# easy
coordinates = (100, 22, 20)
x, y, z = coordinates
print(x, y, z)

1 2 20
100 22 20

## Dictionary

* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
* Dictionaries are written with curly brackets, and have keys and values:

* [more](https://www.w3schools.com/python/python_dictionaries.asp)

In [ ]:
user_details = {
    "name": "kevin",
    "age": 25,
    "skills": ["Python", "Ansible",
               "Ruby", "Perl"]
}

print(user_details)

# Accessing individual elements

print(f"The user name is {user_details['name']} and age is {user_details['age']}")

print(f"The user name is {user_details.get('name')} and age is {user_details.get('age')}")

print("==" * 20)

for k in user_details:
    print(k)

{'name': 'kevin', 'age': 25, 'skills': ['Python', 'Ansible', 'Ruby', 'Perl']}
The user name is kevin and age is 25
The user name is kevin and age is 25
========================================
kevin
25
['Python', 'Ansible', 'Ruby', 'Perl']

In [ ]:
# Program: Numbers to word

DIGIT_WORD_LIST = {
    "0": "Zero",
    "1": "One",
    "2": "Two",
    "3": "Three",
    "4": "Four",
    "5": "Five",
    "6": "Six",
    "7": "Seven",
    "8": "Eight",
    "9": "Nine",
}

number = input("Enter a multi-digit number:  ")
for num in number:
    print(DIGIT_WORD_LIST.get(num), end=' ')

Enter a multi-digit number:  23423
Two Three Four Two Three

In [ ]:
# Write a Python program to sum all the items in a dictionary.

mark_list = {"Tom": 233, "Tony": 232, "Hulk": 500}
print(sum(mark_list.values()))

965

## Functions


* A function is a block of code which only runs when it is called.
* You can pass data, known as parameters, into a function.
* A function can return data as a result.
* Function blocks begin with the keyword `def` followed by the function name and parentheses ( ( ) ).
```
def function_name(parameters):
    """docstring"""
    # body of the function
    return expression
```

In [ ]:
# functions definition
def greet():
    print("Hello!")

# function call
greet()

Hello!

### Positional Arguments

In [ ]:
def greet_user(username, greet):
    print(f"{greet} {username}")

greet_user('Kevin', 'Hello')

Hello Kevin

### Keyword Arguments
* A keyword argument is a name-value pair that you pass to a function.
* When you use keyword arguments, be sure to use the exact names of the parameters in the function‚Äôs definition.

In [ ]:
def greet_user_k(username, greet):
    print(f"{greet} {username}")

greet_user_k(greet='Hola', username='Kevin')

Hola Kevin

### Default Values

In [ ]:
def greeting_user(username, greet='Hello!!!!'):
    print(f"{greet} {username}")

greeting_user('Tim Cook')

Hello!!!! Tim Cook

### Arbitrary Arguments (Non-Keyword Arguments)
* The special syntax `*args` in function definitions in python is used to pass a variable number of arguments to a function. It is used to pass a non-key worded, variable-length argument list.

In [ ]:
def adder(*numbers):
    print(type(numbers))
    sum = 0
    for num in numbers:
        sum += num
    return sum

print(adder(1, 2, 3, 4, 5))

<class 'tuple'>
15

### Arbitrary Arguments (Keyword Arguments)

In [ ]:
def details(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
details(name='Tim Cook', age=61, CEO='apple')

name == Tim Cook
age == 61
CEO == apple

### Return Values
* A function doesn‚Äôt always have to display its output directly. Instead, it can
process some data and then return a value or set of values.
* The `return` statement takes a value from inside a function and sends it back to the line that called the function.

In [ ]:
def mul(f, s):
    return f * s

mul(10, 10)
print(mul(100, 100))

10000

In [ ]:


def upper(string):
    upper_str = ''
    for s in string:
        if s.isalpha():
            upper_str += chr((ord(s) - 32))
        else:
            upper_str += s
    return upper_str

string = input("Enter you string ")
print(upper(string))

Enter you string hello world
HELLO WORLD